* {
    margin: 0%;
    padding: 0%;
}

.title {
    font-size: 24px;
}

.timer {
    margin-top: 30px;
    font-size: 48px;
    font-family:-apple-system,sans-serif;
}

.timer:hover {
    transition: all ease 0.3s;
}

.container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttonsBar {
    height: 100px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 30px;
    width: 150px;
}

.play, .reset {
    background-color: #2596be;
    color: white;
    border-style: none;
    width: 150px;
    height: 35px;
    font-size: 22px;
    border-radius: 20px;
}

.reset:hover, .play:hover, .reset.active, .play.active {
    color: #2596be;
    background-color: white;
    border: 1px solid #2596be;
    transition: all ease 0.3s;
}